* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    font-weight: 300;
    min-height: 0;
}

window#waybar {
    background: rgba(26, 27, 38, 0.20);
    border-bottom: 1px solid rgba(255,255,255,0.08);
}

/* LEFT */

#workspaces {
    margin-left: 8px;
}

#workspaces button {
    background: transparent;
    color: #6b7280;
    padding: 0 10px;
    margin: 4px 3px;
    border-radius: 14px;
    transition: all 0.2s ease;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.08);
    color: #c0caf5;
}

#workspaces button.active {
    background: rgba(255, 255, 255, 0.10);

    border-top: 1px solid rgba(255,255,255,0.22);
    border-left: 1px solid rgba(255,255,255,0.14);
    border-right: 1px solid rgba(255,255,255,0.14);
    border-bottom: 1px solid rgba(255,255,255,0.05);

    color: #ffffff;

    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.18),
        inset 0 -1px 0 rgba(255,255,255,0.04),
        0 2px 8px rgba(0,0,0,0.15);
}

/* CENTER */

#window {
    color: #c0caf5;
    padding: 0 12px;
}

/* CLOCK */

#clock {
    background: rgba(255,255,255,0.08);

    border-top: 1px solid rgba(255,255,255,0.22);
    border-left: 1px solid rgba(255,255,255,0.14);
    border-right: 1px solid rgba(255,255,255,0.14);
    border-bottom: 1px solid rgba(255,255,255,0.05);

    border-radius: 14px;

    color: white;

    padding: 0 14px;
    margin: 4px 6px;

    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.18),
        inset 0 -1px 0 rgba(255,255,255,0.04),
        0 2px 8px rgba(0,0,0,0.15);
}

/* RIGHT SIDE - Unified */

#cpu,
#memory,
/*#temperature,*/
#pulseaudio,
#battery,
#network,
#custom-bluetooth,
#custom-updates,
#custom-transparency,
#tray {
    /*7aa2f7*/
    border-top: 1px solid rgba(255,255,255,0.22);
    border-left: 1px solid rgba(255,255,255,0.14);
    border-right: 1px solid rgba(255,255,255,0.14);
    border-bottom: 1px solid rgba(255,255,255,0.05);

    border-radius: 14px;

    color: white;

    padding: 0 14px;
    margin: 4px 6px;

    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.18),
        inset 0 -1px 0 rgba(255,255,255,0.04),
        0 2px 8px rgba(0,0,0,0.15);

}

/* Special States */

#battery.charging {
    color: #30d158;
}

/*#battery.good{
    color:#30d158;
}*/

#battery.warning {
    color: #e0af68;
}

#battery.critical {
    color: #f38ba8;
}



#custom-temperature.normal {
    border-top: 1px solid rgba(255,255,255,0.22);
    border-left: 1px solid rgba(255,255,255,0.14);
    border-right: 1px solid rgba(255,255,255,0.14);
    border-bottom: 1px solid rgba(255,255,255,0.05);

    border-radius: 14px;

    color: #30d158;

    padding: 0 14px;
    margin: 4px 6px;

    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.18),
        inset 0 -1px 0 rgba(255,255,255,0.04),
        0 2px 8px rgba(0,0,0,0.15);
}

#custom-temperature.warning {
    border-top: 1px solid rgba(255,255,255,0.22);
    border-left: 1px solid rgba(255,255,255,0.14);
    border-right: 1px solid rgba(255,255,255,0.14);
    border-bottom: 1px solid rgba(255,255,255,0.05);

    border-radius: 14px;

    color: #e0af68;

    padding: 0 14px;
    margin: 4px 6px;

    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.18),
        inset 0 -1px 0 rgba(255,255,255,0.04),
        0 2px 8px rgba(0,0,0,0.15);
}

#custom-temperature.critical {
    border-top: 1px solid rgba(255,255,255,0.22);
    border-left: 1px solid rgba(255,255,255,0.14);
    border-right: 1px solid rgba(255,255,255,0.14);
    border-bottom: 1px solid rgba(255,255,255,0.05);

    border-radius: 14px;

    color: #f38ba8;

    padding: 0 14px;
    margin: 4px 6px;

    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.18),
        inset 0 -1px 0 rgba(255,255,255,0.04),
        0 2px 8px rgba(0,0,0,0.15);
}

#custom-powerprofile {
    border-top: 1px solid rgba(255,255,255,0.22);
    border-left: 1px solid rgba(255,255,255,0.14);
    border-right: 1px solid rgba(255,255,255,0.14);
    border-bottom: 1px solid rgba(255,255,255,0.05);

    border-radius: 14px;

    color: #ffffff;

    padding: 0 14px;
    margin: 4px 6px;

    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.18),
        inset 0 -1px 0 rgba(255,255,255,0.04),
        0 2px 8px rgba(0,0,0,0.15);
}

#custom-powermenu {
    /*color: #f7768e;*/

    border-top: 1px solid rgba(255,255,255,0.22);
    border-left: 1px solid rgba(255,255,255,0.14);
    border-right: 1px solid rgba(255,255,255,0.14);
    border-bottom: 1px solid rgba(255,255,255,0.05);

    border-radius: 14px;

    color: #f7768e;

    padding: 0 14px;
    margin: 4px 6px;

    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.18),
        inset 0 -1px 0 rgba(255,255,255,0.04),
        0 2px 8px rgba(0,0,0,0.15);
}

/* Tooltips */

tooltip {
    /*background: #24283b;
    border: 1px solid #7aa2f7;
    border-radius: 10px;*/
    background: rgba(255,255,255,0.08);

    border-top: 1px solid rgba(255,255,255,0.22);
    border-left: 1px solid rgba(255,255,255,0.14);
    border-right: 1px solid rgba(255,255,255,0.14);
    border-bottom: 1px solid rgba(255,255,255,0.05);

    border-radius: 14px;

    color: white;

    padding: 0 14px;
    margin: 4px 6px;

    box-shadow:
        inset 0 1px 0 rgba(255,255,255,0.18),
        inset 0 -1px 0 rgba(255,255,255,0.04),
        0 2px 8px rgba(0,0,0,0.15);
}

tooltip label {
    color: #ffffff;
}